<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <style>
      .jumbotron {
        padding-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>중고 자동차 목록</h1>
        <p>무엇이든 팔아 드립니다!</p>
        <nav class="navbar navbar-expand-sm bg-light navbar-light">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
        </nav>
      </div>

      <table class="table table-hover">
        <tr>
          <th>SEQ</th>
          <th>NAME</th>
          <th>PRICE</th>
          <th>COMPANY</th>
          <th>YEAR</th>
        </tr>

        <% carList.forEach(function (item, index, arr) { %>
        <tr>
          <td><%=item.seq%></td>
          <td><a href="/car/modify/<%=item.seq%>"><%=item.name%></a></td>
          <td><%=item.price%></td>
          <td><%=item.company%></td>
          <td><%=item.year%></td>
        </tr>
        <% }); %>
      </table>
      <a class="btn btn-outline-danger" href="/car/input.html">입력 페이지</a>
    </div>
  </body>
</html>
